.cube {
  position: relative;
  display: flex;
  width: 100%;
  height: 400px;
  transform-style: preserve-3d;
  animation: spin 12s infinite linear;
  transform: rotateX(0deg) rotateY(0deg);
  justify-content: center;
}

.face {
  position: absolute;
  width: 400px;
  height: 400px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.firstFace {
  transform: translateZ(200px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.secondFace {
  transform: translateZ(-200px) rotateY(180deg);
}

.thirdFace {
  transform: translateX(-200px) rotateY(-90deg);
}

.fourthFace {
  transform: translateX(200px) rotateY(90deg);
}

.fivthFace {
  transform: translateY(-200px) rotateX(90deg);
}

.sixthFace {
  transform: translateY(200px) rotateX(-90deg);
}
